<nav>
  <a class="link" href="/">This will take you home(page).</a>
</nav>

<h1> This is the profile page for {{zone_name}}</h1>

<table style="width:100%">
  <tr>
    <th>Zone Name</th>
    <th>Aspect</th>
    <th>Soil Condition</th>
    <th>Landscape</th>
    <th>Exposure</th>
    <th>Access</th>
    <th>Weed Control</th>
    <th>Seasonable Use</th>
  </tr>
  <tr>
    <td>{{zone_name}}</td>
    <td>{{aspect}}</td>
    <td>{{soil_cond}}</td>
    <td>{{landscape}}</td>
    <td>{{exposure}}</td>
    <td>{{access}}</td>
    <td>{{weed_control}}</td>
    <td>{{seasonable}}</td>
  </tr>
</table>
